body {
    background: #fff;
    color: #000;
    font-size: 14px;
    font-family: Segoe UI,Arial,Geneva,sans-serif;
    line-height: 1.4;
    -webkit-text-size-adjust: none;
    /* -webkit-font-smoothing: none; */
    /* -webkit-font-smoothing: antialiased; */
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-overflow-scrolling: touch;
}

a {
    color: #c2181d;
    text-decoration: none;
    font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
caption { font-size: larger; margin: 1em auto; }
th, td { padding: .75em; }
th {
	background: #2e2e2e;
	color: #fff;
}
tr:nth-child(odd) { background: #dedede; }
tr:nth-child(even) { background: #f0f0f0; }

.clear_fix {
    clear: both;
}

.none {
    display: none !important;
}

.content {
	font-weight:normal;
        min-width: 200px;
        width: 100%;
}

.content-items {
	color: #000;
}

.content-items h3 {
	font-weight: bold;
}

.content-items h4 {
	display: block;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
	max-height: 1.4em;
	margin: 2px;
}

.info-des {
	color: #000;
	font-weight:normal;
	font-style:italic;
	font-size: small;
}

.divider {
	display: block;
	height: 23px;
	line-height: 23px;
	padding: .5em 15px;
	border-top: 1px solid #456F9A;
	border-bottom: 1px solid #456F9A;
	background: #f2f2f2;
	background: url("../images/mfilm_bg.jpg") no-repeat right bottom #fcad36;
}

.main-bg {
	background: url("../images/bg.png") repeat-x left bottom #f2f2f2;
	height: 36px!important;
	line-height: 36px!important;
}

.header-bg {
	
}

.dtitle {
	margin: 0;
	position: relative;
	overflow: visible;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	text-shadow: 0px -1px 1px #fff;
	color:#C2181D;
}

.dright {
	float:right;
	color:#254F7A;
	text-shadow: 0 0 0;
	font-weight: normal;
}

.right-arrow {
	right: 10px;
	position: absolute;
	top: 50%;
	margin-top: -9px;
	width: 18px;
	height: 18px;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.4);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .4);
	box-shadow: 0 1px 0 rgba(255, 255, 255, .4);
	background: #666;
	background: rgba(0, 0, 0, .4);
	background-image: url(../images/icons-18-white.png);
	background-repeat: no-repeat;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	background-position: -108px 50%;
}

.my-item {
	position: absolute;
	top: 50%;
	margin-left: 135px;
	padding: 0;
	margin-top: -25px;
}

.emborder {
	background: url("../images/frame.png") no-repeat scroll 0 0;
	float: left;
	height: 72px;
	width: 130px;
	margin-right: 10px;
}

.poster-img {
	margin:2px 14px;
	height:68px;
	width: 100px;
}

.poster2-img {
	height: 72px;
	width: 127px;
}


.pagination {
	background: #F2F2F2;
	padding: 20px;
}

.pager {
	display: inline-block;
	padding: 2px 9px;
	margin-right: 4px;
	border-radius: 3px;
	border: solid 1px silver;
	background: #E9E9E9;
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .8), 0px 1px 3px rgba(0, 0, 0, .1);
	font-size: .875em;
	font-weight: bold;
	text-decoration: none;
	color: #717171;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
}

.pager.gradient {
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F8F8F8), to(#E9E9E9));
background: -moz-linear-gradient(0% 0% 270deg,#F8F8F8, #E9E9E9);
}

.pager.active {
border: none;
background: #616161;
box-shadow: inset 0px 0px 8px rgba(0, 0, 0, .5), 0px 1px 0px rgba(255, 255, 255, .8);
color: #F0F0F0;
text-shadow: 0px 0px 3px rgba(0, 0, 0, .5);
}

.menu_div ul {
	padding:0px;
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#FFF;
	list-style:none;
	text-indent:15px;
}
.menu_div ul li {
	background:#3f3f3f;
	line-height:28px;
	border-bottom:1px solid #333;
}
.menu_div ul li a {
	text-decoration:none;
	color:#FFF;
	display:block;
}
.menu_div ul li a:hover, .menu_div ul li#active {
	background:#254F7A;
}

.highlight {
	font-weight:bold;
	color:#C2181D;
}

.read-more {
	text-align:right;
	margin: 3px;
}

#nav {
	width: 100%;
	float: left;
	
	padding: 0;
	list-style: none;
	border-bottom: 1px solid #000;
        background-color: #202020;
}
#nav li {
        width: 25%;
	float: left;
	/*background-color: #f2f2f2;*/
	border-top: 1px solid #000;
}
#nav li a {
	display: block;
        padding: 3px 6px;
        text-decoration: none;
        font-weight: bold;
        color: rgb(255, 255, 255);
        border-right: 1px solid rgb(0, 0, 0);
}
#nav li a:hover {
	color: #ff8a00;
	background-color: #000;
}

#searchbox,
#header,
.box-title,
.footer_title,
.box-list .line-box,
.line_acount {
	background-image: url(../images/bg_list.png);
}

#searchbox {
        background-position: 0px -10px;
		color: #DBE1EE;
        font-weight: bold;
        height: 25px;
        overflow: hidden;
        padding: 0;
        top: 0px;
        min-width: 200px;
        width: 100%;
}

#searchbox .textbox {
	width: 60%;
}
input.textbox {
	height: 18px;
	border: 1px solid #86a6b5;
}
#searchbox .submit {
	width: 60px;
}
*{
    padding: 0px;
    margin: 0px;
}
#body{
    width: 100%;
    overflow: hidden;
    min-width: 200px;
    font-family: Segoe UI,Arial,Geneva,sans-serif;
    background: url(../images/bg_li1.png);
}
a {
    text-decoration: none;
    font-weight: bold;
}
#main_page{
    width: 100%;
    min-width: 200px;
    padding-top: 45px !important;
}
#header {
    background-position: 0px -10px;
    color: #DBE1EE;
    font-weight: bold;
    height: 45px;
    overflow: hidden;
    padding: 0;
    top: 0px;
    min-width: 200px;
    width: 100%;
}
#slide_menu{
    width: 31px;
    height: 45px;
    position: absolute;
    top: 0px;
    left: 2px;
    border: 0px;
    background: none;
}
#bt_search{
    position: absolute;
    top: 0px;
    right:10px;
    margin: 0px;
    padding: 0px;
    background: none;
    padding: 0px;
}
#logo{
    margin: 0px;
    padding: 0px;
    margin: 0px;
    padding: 0px;
    width:101px ;
    height: 45px;
    line-height: 45px;
    background: url(../images/bg_logo.png) no-repeat;
}
#slide{
    width: 100%;
}
#title_slide{
    width: 100%;
    height: 25px;
    background: url(../images/bg_title_slide.png) repeat-x;
    line-height: 30px;
    text-align: left;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
}
.line_c{
    width: 100%;
    text-align: center;
    height: 7px;
    margin: 0px;
    padding: 0px;
    background: url(../images/line_slide.png) repeat-x;
}

.line_c1{
    width: 100%;
    height: 7px;
    margin: 0px;
    padding: 0px;
    background: url(../images/center_line_slide.png) no-repeat center top
}
#slide_content{
    width: 100%;
    height: 258px;
    background: url(../images/bg_slide.png) repeat-x;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.box-film{
    width: 100%;
    overflow: hidden;
}
.box-title{
    width: 100%;
    height: 45px;
    background-position: 0px -75px;
}
.box-title .h3_title{
    float: left;
    height: 25px;
    line-height: 25px;
    background-position: -10px -141px;
    padding-left: 40px;
    margin-top: 9px;
    margin-left: 3px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: left;
    color: #ffffff;
    font-weight: bold;
    text-shadow:0px 1px 1px #000000;
}
.box-title .xemthem{
    float: right;
    height: 24px;
    line-height: 20px;
    background-position: 57px -222px;
    margin-right: 20px;
    font-size: 14px;
    color: #a8a8a8;
    padding-right: 16px;
    margin-top: 10px;
    text-decoration: none;
}
.box-title .back_top{
    float: right;
    height: 24px;
    line-height: 20px;
    margin-right: 20px;
    font-size: 14px;
    color: #a8a8a8;
    margin-top: 10px;
    text-decoration: none;
}
.box-list{
    width: 100%;
    overflow: hidden;
}
.box-list li{
    list-style: none;
    width: 100%;
    overflow: hidden;
    margin: 0px;
    padding: 10px 0px;
    position: relative;
    background: url(../images/bg_li1.png);
}
.box-list li:hover{
    background: url(../images/bg_li2.png);
}
.box-list .line-box{
    width: 100%;
    overflow: hidden;
    height: 4px;
    background-position: 0px -140px;
    margin: 0px;
    padding: 0px;
}
.box-list li .img{
    width: 130px;
    height: 72px;
    text-align: center;
    overflow: hidden;
    display: block;
    float: left;
    margin-left: 2px;
    background-position: -10px -49px;
}
.box-list li .img img{
   height: 61px;
    margin-top: 5px;
    width: 102px;
    border: none;
}
.box-list li .noidung{
    float: left;
    text-align: left;
    padding-top: 0px;
    width: 40%;
}
.box-list li .noidung .name{
    font-size: 14px;
    font-weight: bold;
    color:#ff8a00 ;
   
    text-shadow:0px 1px 2px #000000;
    text-decoration: none;
    padding-left: 5px;
}
.box-list li .noidung .time{
    color: #a8a8a8;
    font-size: 12px;
    font-style: italic;
    text-shadow:0px 1px 2px #000000;
    padding-left: 6px;
}
.box-list li .noidung .cost{
    color: #FF8A00;
    font-size: 14px;
    text-shadow:0px 1px 2px #000000;
    padding-left: 30px;
	background-position: -10px -187px;
}
.box-list li .detail{
    float: right;
    border: none;
    position: absolute;
    top: 50%;
    right: 10px;
}
.box-list li .detail img{
    border: none;
}
#footer{
    width: 100%;
    overflow: hidden;
    background: url(../images/bg_footer.png) repeat-x;
}
#footer_info{
    width: 280px;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
}
#footer_info img{
    display: inline;
}


#frmSearch{
    display: none;
}
.frm-search {
    margin-top: 1px;
    padding: 0 10px;
    position: relative;
}
.text-box {
    background: none repeat scroll 0 0 #808080;
    border: 1px solid #000000;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.3) inset;
    height: 20px;
    padding: 0 65px 0 10px;
}
.search-text-box, .trpr-textbox {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    height: 100%;
    width: 100%;
    color: white;
}
.frm-search .search-btn, .frm-search .delete-btn {
    padding: 0 5px;
    position: absolute;
    top: 4px;
}
.frm-search .search-btn {
    right: 20px;
}
.frm-search .delete-btn {
    display: none;
    right: 50px;
}
.search-focused .delete-btn {
    display: block;
}
.select, .button, .video-bitrate, header .main-menu-link, .frm-search .search-text-box, .rate-filter .custom-select, .filter-type div, .filter-sort div, .filter-kind div, .login-page .frm-login .ip-text, .login-page .frm-login .frm-alert, .flyout .s-footer .aplist-text-box, .text-box, .button-light {
    border-radius: 5px 5px 5px 5px;
}

#fnSuggestContainer{
    display: none;
}
.sugguest-mask {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    height: 100%;
    position: fixed;
    top: 45px;
    width: 100%;
    z-index: 5;
}
.sugguest {
    width: 100%;
}
.search-history {
    overflow: hidden;
    width: 100%;
}
.btn-option {
    height: 32px;
    padding: 8px 10px;
    font-weight: bold;
}
.page-prev {
    float: left;
}
.delete-history {
    float: right;
}
.sugguest li a, .search-history li a {
    display: block;
    padding: 0 10px;
    max-height: 44px;
    overflow: hidden;
    border-bottom: 1px solid #000;
    -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.1) inset;
    -moz-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.1) inset;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.1) inset;
    line-height: 44px;

}

.sugguest li a, .search-history li a {
    color: #bfbfbf;
}

.sidebar .slist li a, .flyout .slist li a, .sidebar .navigator li a, .sidebar .show-info, .sugguest, .search-history, .popup-content, .btn-option {
    background: #333;
}

.sugguest li a:before {
    margin-right: 10px;
}
.button {
    /* Old browsers */
    background: -moz-linear-gradient(top,  #404040 0%, #404040 50%, #2a2a2a 51%, #2a2a2a 100%);
 /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#404040), color-stop(50%,#404040), color-stop(51%,#2a2a2a), color-stop(100%,#2a2a2a));
 /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #404040 0%,#404040 50%,#2a2a2a 51%,#2a2a2a 100%);
 /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #404040 0%,#404040 50%,#2a2a2a 51%,#2a2a2a 100%);
 /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #404040 0%,#404040 50%,#2a2a2a 51%,#2a2a2a 100%);
 /* IE10+ */
    background: linear-gradient(to bottom,  #404040 0%,#404040 50%,#2a2a2a 51%,#2a2a2a 100%);
 /* W3C */
    background-color: black;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.22);
    border: 1px solid #000000;
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.22);
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    text-decoration: none;
    color: white;
    font-family: arial;
    font-size: 12px;
    line-height: 30px;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#404040', endColorstr='#2a2a2a',GradientType=0 );
    /* IE6-9 */
}
#search_box{
    font-size: 15px;
    color: #ffffff;
     text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

#fnSearchSubmit,
#SearchSubmit-btn,
.box-list li .img,
.poster_img,
.box-title .h3_title,
.box-list li .noidung .cost,
.box-title .xemthem,
.footer_title .xemthem {
	background-image: url(../images/bg_item.png);
	background-repeat: no-repeat;
}

#fnSearchSubmit{
    display: block;
    height: 19px;
    margin: 0;
    padding: 0;
    top: 7px;
    width: 20px;
    background-position: -10px -10px;
}
#fnSearchReset{
    display: none;
    height: 18px;
    margin: 0;
    padding: 0;
    top: 7px;
    width: 19px;
    position: absolute;
    background: url(../images/bt_xoa.png) no-repeat;
}
#canhbao{
    width: 100%;
    overflow: hidden;
    padding: 10px 0px;
    position: fixed;
    top: 45px;
    background: url(../images/bg_canhbao.png);
    z-index: 99999;
}
#canhbao p{
    
    padding: 0px 5px 0px 25px;
    color: #442104;
    margin-left: 5px;
    font-size: 14px;
}

#error_notification{
    width: 100%;
    overflow: hidden;
    padding: 10px 0px;
    position: fixed;
    top: 45px;
    background: url(../images/bg_error.png);
    z-index: 99999;
}
#error_notification p{
    
    padding: 0px 5px 0px 25px;
    color: #442104;
    margin-left: 5px;
    font-size: 14px;
}


.pagination {
	background: #F2F2F2;
	padding: 5px;
        width: 100%;
}

.pager {
	display: inline-block;
	padding: 2px 9px;
	margin-right: 4px;
	border-radius: 3px;
	border: solid 1px silver;
	background: #E9E9E9;
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .8), 0px 1px 3px rgba(0, 0, 0, .1);
	font-size: .875em;
	font-weight: bold;
	text-decoration: none;
	color: #717171;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
}

.pager.gradient {
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F8F8F8), to(#E9E9E9));
background: -moz-linear-gradient(0% 0% 270deg,#F8F8F8, #E9E9E9);
}

.pager.active {
border: none;
background: #616161;
box-shadow: inset 0px 0px 8px rgba(0, 0, 0, .5), 0px 1px 0px rgba(255, 255, 255, .8);
color: #F0F0F0;
text-shadow: 0px 0px 3px rgba(0, 0, 0, .5);
}

.divider {
	display: block;
	padding: .5em 15px;
	border-top: 1px solid #456F9A;
	border-bottom: 1px solid #456F9A;
	background: no-repeat right bottom #fcad36;
	
}

.dtitle {
	margin: 0;
	position: relative;
	overflow: visible;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	text-shadow: 0px -1px 1px #fff;
	color:#C2181D;
}
.video_title_header {
    font-size: 13px;
    color: white;
    font-weight: bold;
    padding-top: 14px;
}

#icon_play a{
    float: left;
}
#icon_play select{
    border: 0 none;
    box-shadow: 0 2px 2px #000000;
    display: inline-block;
    float: left;
    height: 25px;
    line-height: 25px;
    margin-top: 11px;
    padding: 3px 5px 3px 15px;
    margin-left: -3px;
    background: url(../images/nut_chon.png) no-repeat top left;
    
}
.clear{
    clear: both;
}
#detail{
    width: 100%;
    overflow: hidden;
    background: url(../images/bg_li1.png);
    padding-bottom: 10px;
}
.user_detail{
    width: 100%;
    overflow: hidden;
    background: url(../images/bg_li1.png);
    padding-bottom: 10px;
}
.nav_item{
    width: 100%;
    overflow: hidden;
    background: url(../images/bg_li1.png);
}
#detail_play{
    width: 100%;
    overflow: hidden;
    position: relative;
   
}
#detail .film_img{
    width: 100%;
}
#icon_play{
    position: absolute;
    top: 35%;
    left: 48%;
}
#detail .info_name{
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 0px 0px 15px 3px;
}
#detail .info_name h1{
    font-size: 18px;
    color: white;
    text-shadow:0px 0px 2px #080808 ;
}
#detail .info_name p{
    font-size: 14px;
    text-shadow:0px 0px 2px #080808 ;
    color: #a8a8a8;
}
#detail_tab{
    width: 100%;
    height: 50px;
    overflow: hidden;
    margin:-5px 0px 0px 0px;
    padding: 0px;
    
    background: url(../images/title_detail.png) repeat-x;
}
#detail_tab li{
    float: left;
    margin: 0px;
    height: 50px;
    padding: 0px;
    list-style: none;
}
#detail_tab #info1{
    width: 33%;
    background: url(../images/line_detail.png) no-repeat top left;
}
#detail_tab #info1 .p{
    height: 43px;
    padding-left: 26px;
    text-shadow:0px 0px 2px #080808 ;
    float: left;
    line-height: 15px;
    margin-left: 5px;
}
#detail_tab #info2,#info3{
    width: 33%;
    background: url(../images/line_detail.png) no-repeat top left;
}
#detail_tab #info2 .p{
    height: 43px;
    padding-left: 26px;
    text-shadow:0px 0px 2px #080808 ;
    float: left;
    line-height: 15px;
    margin-left: 5px;
}
#detail_tab #info3 .p{
    height: 43px;
    padding-left: 26px;
    text-shadow:0px 0px 2px #080808 ;
    float: left;
    line-height: 15px;
    margin-left: 5px;
}
#detail_tab #info1 .p a,#detail_tab #info2 .p a,#detail_tab #info3 .p a{
    width: 100%;
    overflow: hidden;
    text-align: left;
    float: left;
    font-size:12px ;
    margin-top: 5px;
    color: #a8a8a8;
    text-shadow:0px 0px 2px #080808 ;
    text-decoration: none;
}
#detail_tab #info1 .p span, #detail_tab #info2 .p span,#detail_tab #info3 .p span{
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
}
.detail_content{
    width: 100%;
    font-family: arial;
    height: 192px;
    overflow: hidden;
}
.detail_content td{
    vertical-align: top;
}
.detail_content .col1{
    width: 75px;
    font-size: 14px;
    color: #ffffff;
}
.detail_content .col2{
    color: #a8a8a8;
    font-size: 14px;
}
.view_more{
    width: 100%;
    background: url(../images/bg_more.png) no-repeat center center;
}
.view_more .button{
    color: #a8a8a8;
}
.view_more .button img{
    float: right;
    margin-left: 4px;
    margin-top: 8px;
    width: 16px;
    border: none;
}

.box_account{
    width: 98%;
    overflow: hidden;
    margin-top: 14px;
}
#ticket{
    width: 140px;
    height: 73px;
    text-align: center;
    background: url(../images/tem.png) no-repeat;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}
#ticket span{
     color: #000000;
    font-size: 18px;
    font-weight: bold;
    left: 35px;
    position: absolute;
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: uppercase;
    top: 31px;
}
.thongbao{
    width: 100%;
    overflow: hidden;
    color: #a8a8a8;
    font-size: 14px;
    text-align: center;
}
.thongbao .mau{
    color: #ff8a00;
}
.color_dacam{
    color: #ff8a00;
}
.line_acount{
    width: 100%;
    height: 4px;
    background-position: 0px -140px;
    margin: 10px 0px;
}
.thongbao2{
    width: 100%;
    overflow: hidden;
    color: #a8a8a8;
    font-size: 14px;
    text-align: left;
    margin-bottom: 20px;
}
#arrow_left{
     float: right;
    margin-left: 8px;
    margin-top: 9px;
}
.box_ticket_1{
    width: 283px;
    overflow: hidden;
    margin-top: 20px;
}
.box_ticket{
    float: left;
    width: 80px;
    height: 84px;
    position: relative;
    height: ;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    background: url(../images/box_ticket.png) no-repeat;
}
.box_ticket .ten_t{
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    left: 22px;
    position: absolute;
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: uppercase;
    top: 12px;
}
.box_ticket .time_t{
    color: #FFFFFF;
    font-size: 12px;
    left: 8px;
    position: absolute;
    top: 39px;
}
.box_ticket .time_t span{
    color: #a8a8a8;
}
.box_ticket .cost_t{
    color: #FF8A00;
    font-size: 12px;
    left: 16px;
    position: absolute;
    top: 60px;
}

.detail_icon_tab{
    position: relative;
    margin-left: -26px;
    width:  26px!important;
}

.box-title .h3_title_nav{
    float: left;
    height: 25px;
    line-height: 25px;
    margin-top: 9px;
    margin-left: 10px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: left;
    color: #ffffff;
    font-weight: bold;
    text-shadow:0px 1px 1px #000000;
}
#SearchSubmit-btn{
    display: block;
    height: 19px;
    margin: 0;
    padding: 0;
    top: 2px;
    width: 20px;
    background-position: -10px -10px;
    border: antiquewhite;
    cursor: pointer;
}


.footer_title{
    width: 100%;
    height: 30px;
    background-position: 0px -75px;
}

.footer_title .xemthem{
    float: right;
    height: 24px;
    line-height: 20px;
    background-position: 57px -222px;
    margin-right: 2px;
    font-size: 14px;
    color: #a8a8a8;
    padding-right: 16px;
    margin-top: 4px;
    text-decoration: none;
}
.footer_title .back_top{
    float: right;
    height: 24px;
    line-height: 20px;
    margin-right: 20px;
    font-size: 14px;
    color: #a8a8a8;
    margin-top: 4px;
    text-decoration: none;
}

.poster_img {
    width: 130px;
    height: 72px;
    text-align: center;
    overflow: hidden;
    display: block;
    float: left;
    margin-left: 10px;
    background-position: -10px -49px;
}

.poster_img img {
    height: 61px;
    margin-top: 5px;
    width: 102px;
    border: none;
}
